body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'AlternateGothic';
    color: #FF815C;
}

@font-face {
    font-family: 'AlternateGothic';
    src: url('fonts/Alternate-gothic-no2-d.ttf');
}

@font-face {
    font-family: 'gil';
    src: url('fonts/GIL.TTF');
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.mr-auto {
    margin-right: auto;
}

.AlternateGothic {
  font-family: AlternateGothic;
}

.gil {
  font-family: gil;
}

.font7 {
    font-size: 7rem;
}

.btn-primary {
  background-color: #e37760;
  border: transparent;
}

.btn-circle {
  border-radius: 50%;
}

.noPadding {
    padding: 0;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.pentone-orange {
  color: #e37760;
}

.pentone-grey {
  color: rgb(99,100,102);
}

.pentone-grey-dark {
    color: #333333;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

p {
  color: #505358;
  font-family: gil;
}

.btn-transparent {
  background: transparent;
  border: 1px solid #ccc;
}

.loader-block {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #101010;
}

.loader {
  position: absolute;
  opacity: 0.5;
  background-color: rgba(248,248,248,0.6);
}

.loader-img {
  background-image: url("images/Final_loading_animation.gif");
  background-position: center center;
  width: 283px;
  height: 253px;
  background-repeat: no-repeat;
  z-index: 9000;
  background-size: 50% auto;
  position: absolute;
  left: 50%;
  margin-left: -141px;
  top: 40%;
  margin-top: -50px;
}

label {
  font-weight: 200;
}
