.down-arrow {
    color: #E37761;
    position: absolute;
    bottom: 1em;
    flex-flow: column;
    align-items: center;
}

.down-arrow h1 {
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
}

.down-arrow .fa {
    font-size: 1rem;
}

.middle-text h1 {
    font-size: 1.5rem;
}

.floating-button {
    font-size: 1.2rem;
}

.floating-button span {
    margin-right: .5rem;
}

.floating-button .fa {
    background-color: #e37760;
    border-radius: 50%;
    color: #FFFFFF;
    padding: .5rem;
    font-size: 1.5rem;
}

.bottom-text-block {
    position: absolute;
    bottom: 2rem;
}

.center-text-block {
    position: absolute;
    top: 30%;
}

.content-with-banner {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}

.pink-layer {
    background-color: #E37761;
    opacity: .5;
    height: 100%;
    width: 20rem;
}

.floatting-text {
    top: 30%;
    position: absolute;
    left: 10rem;
    flex-flow: column;
}

.floatting-text .floating-button {
    font-size: 1.2rem;
    margin-left: 12rem;
    color: #111;
}

footer {
    position: static;
    bottom: 0;
    background-color: #E37761;
    color: #FFFFFF;
    width: 100%;
    padding: 40px 20px 0 20px;
    font-family: gil;
}

footer ul > li {
    list-style: none;
}

footer a {
    color: #ffffff;
    font-size: 20px;
}

footer #subscibe-email {
    background: transparent;
    color: #fff;
    width: 80%;
    display: inline-block;
    margin-right: 5px;
}

footer ul.social-icons {
    margin-left: -40px;
}

footer ul.social-icons > li {
    display: inline-block;
    width: 20px;
    margin: 0 5px 0px 0px;
}

footer img.footer-logo {
    width: 150px;
}

@media (min-width: 992px) {
    .middle-text h1 {
        font-size: 4rem;
    }

    .down-arrow {
        bottom: 5em;
    }

    .down-arrow .fa {
        font-size: 4rem;
    }
}
